<div id="background">
      <header class="cf">
      <div class="wrapper_wide">
             <a id="logo" href="#">RedStarCompany</a>
        <nav>
            <ul>
              <% unless podcast_signed_in? %>

              <li><%= link_to "Eksploruj", podcasts_path %></li>
              <li><%= link_to "Zaloguj się", new_podcast_session_path %></li>
              <li><%= link_to "Stwórz Podcast", new_podcast_registration_path %></li>
              <% else %>
              <li><a href="#">Dashboard</a></li>
              <li><%= link_to "Eksploruj", podcasts_path %></li>
              <li><%= link_to "Wyloguj się", destroy_podcast_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </nav>
          </div>
      </header>
      <div class="wrapper_skinny">
               <h1>Odkryj swój ulubiony<br/>podcast, albo stwórz swój właśny!</h1>
                <%= link_to "Stwórz Podcast", new_podcast_registration_path, class: "button button_highlight" %>
                <%= link_to "Eksploruj", podcasts_path, class: "button button_white" %>

      </div>
  </div>
