<div id="podcast_show">
        <div id="show_banner">
            <div class="wrapper_skinny">
            <h1><%= @podcast.title %></h1>
          <p class="description"><%= @podcast.description %></p>
          <% unless @podcast.itunes.blank? %>
          <a href="<%= @podcast.itunes %>" class="subscribe_link">ITunes</a>
          <% end %>
          <% unless @podcast.stitcher.blank? %>
          <a href="<%= @podcast.stitcher %>" class="subscribe_link">Stitcher</a>
          <% end %>
          <% unless @podcast.podbay.blank? %>
          <a href="<%= @podcast.podbay %>" class="subscribe_link">PodBay</a>
          <% end %>
            </div>
        </div>

        <div id="breadcrumb">
            <%= link_to podcast_path  do %>
              Wszyskie Podcasty
              <span>/</span>
              The Rocketship Podcast
            <% end %>
        </div>
        <div id="episodes">
          <div class="wrapper_skinny">
            <ul class="cf">
              <li class="cf">
                <div class="episode_thumbnail">
                  <a href="episode.html">
                    <img src="img/1a.jpg" alt="1a">
                  </a>
                </div>
                <div class="episode_overview">
                  <h2><a href="episode.html">How to pull of 12 well
                  startgusp in 12 motunth</a></h2>
                  <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                   It was popularise
                   software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </li>


              <li class="cf">
                <div class="episode_thumbnail">
                  <a href="episode.html">
                    <img src="img/1a.jpg" alt="1a">
                  </a>
                </div>
                <div class="episode_overview">
                  <h2><a href="episode.html">How to pull of 12 well
                  startgusp in 12 motunth</a></h2>
                  <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                   It was popularblishing
                   software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </li>


              <li class="cf">
                <div class="episode_thumbnail">
                  <a href="episode.html">
                    <img src="img/1a.jpg" alt="1a">
                  </a>
                </div>
                <div class="episode_overview">
                  <h2><a href="episode.html">How to pull of 12 well
                  startgusp in 12 motunth</a></h2>
                  <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                   It was popu
                </div>
              </li>


              <li class="cf">
                <div class="episode_thumbnail">
                  <a href="episode.html">
                    <img src="img/1a.jpg" alt="1a">
                  </a>
                </div>
                <div class="episode_overview">
                  <h2><a href="episode.html">How to pull of 12 well
                  startgusp in 12 motunth</a></h2>
                  <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                  of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                   It was p
                   software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
